[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymilvus = "*"
pymongo = "*"
pandas = "*"
numpy = "*"
torch = "*"
tables = "*"

[dev-packages]

[requires]
python_version = "3.13"
