[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymilvus = "*"
pandas = "*"
torch = "*"
tables = "*"
fastparquet = "*"
pyarrow = "*"
streamlit = "*"
streamlit-keyup = "*"
streamlit-authenticator = "*"
faiss-cpu = "*"
joblib = "*"
scikit-learn = "*"
numpy = "==1.26.4"
implicit = "*"

[dev-packages]

[requires]
python_version = "3.10"
